<h1>ALL USERS</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= user.username %></li>
      <% if current_user.admin? %>
        <li class="delete"><%= button_to 'Delete', user, method: :delete %></li>
      <% end %>
  <% end %>
</ul>
