body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  }
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-size: 1.7em;
}
a {
  text-decoration: none;
  color: #421b25;
}
ul {
  list-style: none;
}
.container {
  padding-top: 120px;
}
.hidden {
  display: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid black;
  background-color: #c25955;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  h1.header {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 3.6rem;
  }
  .logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    img {
      width: 12%;
      margin-right: 5px;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    li {
      padding: 0 15px;
      color: #421b25;
    }
    li.signed-in {
      text-transform: lowercase;
      font-variant: small-caps;
      font-size: 1.4em;
    }
    span.username {
      color: #d3c0c5;
    }
  }
}
.content {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

#flash {
  color: black;
  text-align: center;
  padding: 20px 0 40px 0;
  color: #c25955;
}

img.district-pic {
  padding-bottom: 17px;
  margin: 0 auto;
  border-radius: 35px;
}
.form-header h2 {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #00868b;
  padding: 17px 0;
  border-bottom: 2px solid #ccc;
}
form {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
#error_explanation {
  font-size: .8em;
  text-align: center;
  padding: 10px 0;
}
#error_explanation h2 {
  font-size: 2.2em;
  color: red;
}
label {
  color: #329ea2;
}
em {
  color: #329ea2;
  font-size: .8em;
}
.actions {
  padding-bottom: 20px;
}
.bottom-link {
  padding-top: 7px;
}
.avatar {
  height: 40px;
  margin-left: -25px;
  border: 2px solid black;
}

h2.new-district {
  font-size: 1.2em;
  padding: 20px 0;
  color: #66a3a3;
  opacity: .75;
  text-align: center;
}

#new_district,
.edit_district  {
  text-align: left;
  label {
    font-size: .8em;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.13px;
  }
  input[type="text"],
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
  }
  input[type="text"] {
    border: none;
    border-bottom: 1px solid #ccc;
  }
  textarea {
    margin-top: 7px;
    border: 1px solid #ccc;
    height: 90px;
  }
  input#district_avatar {
    padding: 10px 0;
  }
  .submit {
    margin: 0 auto;
  }
  input[type="submit"] {
    width: 50%;
    text-transform: uppercase;
    color: #329ea2;
    margin: 15px auto;
    transition: all 1s linear;
    &:hover {
      background-color: #99cccc;
      color: #000;
      border: none;
      letter-spacing: 2px;
    }
  }
}
button,
input[type="submit"] {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 0;
  transition: all 1s linear;
  &:hover {
    background-color: #c5abb1;
  }
}

.index {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
#search-form {
  display: flex;
  float: right;
  input[type="text"] {
    height: 25px;
    width: 400px;
    font-size: 1rem;
    padding: 5px;
  }
  input[type="submit"] {
    height: 30px;
    width: 80px;
    margin: 8px;
  }
}
.district {
  h1.boston {
    text-align: center;
    font-size: 2.7rem;
    padding: 20px 0;
    margin-left: 30px;
  }

  li.neighborhood {
    font-size: 1.7rem;
    padding: 15px 0 60px 0;
    margin: 0 auto;
  }
  img.district-pic {
    max-width: 600px;
  }
  a.new-district {
    font-size: 1.4em;
    padding: 15px 3px;
  }

}

.show {
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  text-align: left;
  img.show-pic {
    max-width: 650px;
    border-radius: 35px;
  }
  li.review {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  button {
    padding: 5px;
  }
  span.title {
    font-size: 1.5em;
    color: #6e2e3e;
    padding-bottom: 7px;
  }
  p.body {
    color: #96858a;
    span.rating {
      font-size: .8em;
    }
    span.reviewer {

    }
  }
}

.footer {
  font-size: 1.4em;
  padding: 15px 3px;
}
.profile-pic {

  margin: 5px;
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
}
.profile {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.add-class {
  font-size: 20px;
  color: #c25955;
}
.show-search {
  float: right;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-top: 85px;
  }
    #navbar {
      .logo img {
        padding-top: 5px;
      }
      h1.header {
        padding: 10px 0 0 0;
        margin: 0px;
        a {
          font-size: 2rem;
        }
      li a {
        font-size: .84em;
      }
      li.signed-in {
        font-size: .84em;
      }
      span.username {
        font-size: .84em;
      }
    }
  }
}
