
body {
  font-family: 'Montserrat', sans-serif;
  }
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-size: 1.7em;
}
ul {
  list-style: none;
}
.hidden {
  display: none;
}
#app {
  margin-bottom: 20px 0;
}
#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
}
#navbar ul li {
  padding: 0 15px;
  color: #329ea2;
    }
li.signed-in {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.4em;
}
span.username {
  color: #00868b;
}

p.notice {
    color: #00868b;
    text-align: center;
  }
p.alert {
  color: red;
  text-align: center;
}
.form-header h2 {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #00868b;
  padding: 17px 0;
  border-bottom: 2px solid #ccc;
}
form {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
#error_explanation {
    font-size: .8em;
    text-align: center;
    padding: 10px 0;
  }
#error_explanation h2 {
  font-size: 2.2em;
  color: red;
}
label {
    color: #329ea2;
  }
em {
  color: #329ea2;
  font-size: .8em;
}
.actions {
  padding-bottom: 20px;
}
.bottom-link {
  padding-top: 7px;
}
.avatar {
  height: 40px;
  margin-left: -25px;
  border: 2px solid black;
}
h2.new-district {
  font-size: 1.2em;
  padding: 20px 0;
  color: #66a3a3;
  opacity: .75;
  text-align: center;
}

form.district-form {
  display: flex;
  flex-direction: column;
}
.district-form label {
  font-size: .8em;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1.13px;
}
.district-form input[type="text"],
.district-form textarea {
  margin-bottom: 15px;
  padding: 5px;
}
.district-form textarea {
  margin-top: 7px;
  border: 1px solid #ccc;
  height: 90px;
}
.district-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
}
.district-form input[type="submit"] {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  padding: 5px 0;
  text-transform: uppercase;
  color: #329ea2;
  transition: all 1s linear;
}
.district-form input[type="submit"]:hover {
  background-color: #99cccc;
  color: #000;
  border: none;

  letter-spacing: 2px;
}
